

.addNewPopup {
  position: relative;
  text-align: center;
  width: 100%;
}

.formPopup {
  display: none;
  position: fixed;
  left: 45%;
  top: 5%;
  transform: translate(-50%, 5%);
  border: 3px solid #999999;
  z-index: 9;
}

.formContainer {
  max-width: 300px;
  padding: 20px;
  background-color: #fff;
}

.btn {
  background-color: limegreen;
  border-radius: .8rem;
}

.cancel {
  background-color: orange;
}

.btn:hover {
  opacity: 1;
  background-color: yellow;
}

.delete {
  background-color: red;
  color: white;
  border-radius: .2rem;
}